#overlay {
    max-width: 80vw;
    padding: 0px 0px 0px 0px;
    border: none;

    &::backdrop {
        background: rgba(0, 0, 0, 0.616);
    }
}

.form {
    width: 500px;
    background-color: var(--light-blue-1);
    padding: 24px 24px 24px 24px;

    &-container {
        @include flex-column($gap: 4px);
    }

    &-header {
        @include flex-center-end($gap: 0px);
    }

    &-close {
        @include flex-center-center();

        width: 52px;
        height: 52px;
        cursor: pointer;
        background-color: var(--white);
        border-radius: 10px;
        border: none;

        .test-icons {
            color: var(--black);
            font-size: 24px;
            transition: all 0.3s ease;
        }

        &:hover {
            .test-icons {
                transform: rotate(180deg);
            }
        }
    }

    &-body {
        @include flex-column($gap: 18px);
    }

    &-title {
        color: var(--grey-2);
        font-size: 24px;
        font-weight: 500;
    }

    .inputs-block {
        @include flex-column($gap: 4px);
    }

    .input-basic {
        border-radius: 10px;
        height: 73px;
        padding: 24px 24px 24px;
        color: var(--blue-1);
        font-size: 18px;
        line-height: 500;

        &::placeholder {
            color: var(--blue-1);
        }
    }

    .checkbox-basic {
        @include flex-center-start($gap: 10px);
    }

    .input-checkbox {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: 2px solid var(--grey-2);
        margin: 6px 0px 6px 0px;
    }

    .input-checkbox-label {
        color: var(--grey-2);
        font-size: 18px;
    }

    .recover-password {
        margin: 0px 0px 32px 0px;
        color: var(--blue-2);
        font-size: 20px;
        font-weight: 500;
    }

    &-actions {
        @include flex-column($gap: 4px);
    }

    .form-button {
        height: 65px;
        @include flex-center-center($gap: 0px);
        border-radius: 4px;
        width: 100%;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease;

        &.primary-button {
            border: 1px solid var(--blue-2);
            background: var(--blue-2);
            color: var(--white);

            &:hover {
                background: #365fac;
            }

            &:active {
                background: #3e6abb;
            }
        }

        &.secondary-button {
            border: 1px solid var(--blue-2);
            background: var(--white);
            color: var(--blue-2);

            &:hover {
                background: var(--blue-2);
                color: var(--white);
            }
        }

        &:focus {
            box-shadow: 0px 0px 4px 0px var(--blue-1);
        }
    }
}
