:root {
    --blue-1: #1f4284;
    --blue-2: #244c98;
    --blue-3: #1f4284;
    --blue-4: #244c98;

    --grey-1: #727272;
    --grey-2: #323232;
    --grey-3: #838383;

    --light-blue-1: #f0f4fc;

    --white: #ffffff;
    --black: #000000;

    --green-1: #16221d;
    --green-2: #00e08a;
    --green-3: #79fcca;
}
