@import "../assets/fonts/Test-icon/style.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-size: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

a,
a:hover,
a:checked {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

:root {
  --blue-1: #1f4284;
  --blue-2: #244c98;
  --blue-3: #1f4284;
  --blue-4: #244c98;
  --grey-1: #727272;
  --grey-2: #323232;
  --grey-3: #838383;
  --light-blue-1: #f0f4fc;
  --white: #ffffff;
  --black: #000000;
}

* {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

body {
  display: block;
}
body .container {
  display: block;
}

.demo-version {
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--light-blue-1);
  margin: 36px 40px 36px 40px;
}
.demo-version-container {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  gap: 0px;
  flex-wrap: nowrap;
  flex: unset;
  height: 455px;
}
.demo-version__left-block {
  width: calc(50% + 10px);
  padding: 102px 72px 102px 72px;
}
.demo-version__content {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 10px;
  flex-wrap: nowrap;
  flex: unset;
  max-width: 538px;
}
.demo-version__title {
  margin: 0px 0px 8px 0px;
  color: var(--blue-1);
  font-size: 26px;
  font-weight: 500;
}
.demo-version__text {
  margin: 0px 27px 26px 0px;
  color: var(--grey-1);
  font-size: 17px;
}
.demo-version__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  flex: unset;
  padding: 12px 12px 12px 24px;
  height: 68px;
  width: 100%;
  max-width: 340px;
  background-color: var(--blue-2);
  border-radius: 60px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.demo-version__button .button-text {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.demo-version__button .button-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  flex: unset;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--white);
}
.demo-version__button .button-icon .test-icons {
  font-size: 24px;
  transition: all 0.3s ease;
}
.demo-version__button:hover {
  background-color: #365fac;
}
.demo-version__button:hover .test-icons {
  transform: translate3d(3px, -3px, 0px);
  color: #365fac;
}
.demo-version__button:active {
  background-color: #3e6abb;
}
.demo-version__button:active .test-icons {
  color: #3e6abb;
}
.demo-version__right-block {
  width: calc(50% - 10px);
  display: block;
  background: #e6ebfe;
}
.demo-version__right-block img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (width < 991px) {
  .demo-version-container {
    flex-direction: column;
    height: auto;
  }
  .demo-version__left-block, .demo-version__right-block {
    width: 100%;
  }
  .demo-version__left-block {
    padding: 24px 24px 18px 24px;
  }
}
@media (width < 450px) {
  .demo-version__button {
    gap: 5px;
    height: auto;
    max-width: 100%;
  }
  .demo-version__button .button-text {
    font-size: 14px;
    white-space: normal;
  }
  .demo-version__button .button-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
}
@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/Manrope-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/Manrope-Regular.ttf");
  font-weight: 500;
}
#overlay {
  max-width: 80vw;
  padding: 0px 0px 0px 0px;
  border: none;
}
#overlay::backdrop {
  background: rgba(0, 0, 0, 0.616);
}

.form {
  width: 500px;
  background-color: var(--light-blue-1);
  padding: 24px 24px 24px 24px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 4px;
  flex-wrap: nowrap;
  flex: unset;
}
.form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0px;
  flex-wrap: nowrap;
  flex: unset;
}
.form-close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  flex: unset;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 10px;
  border: none;
}
.form-close .test-icons {
  color: var(--black);
  font-size: 24px;
  transition: all 0.3s ease;
}
.form-close:hover .test-icons {
  transform: rotate(180deg);
}
.form-body {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 18px;
  flex-wrap: nowrap;
  flex: unset;
}
.form-title {
  color: var(--grey-2);
  font-size: 24px;
  font-weight: 500;
}
.form .inputs-block {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 4px;
  flex-wrap: nowrap;
  flex: unset;
}
.form .input-basic {
  border-radius: 10px;
  height: 73px;
  padding: 24px 24px 24px;
  color: var(--blue-1);
  font-size: 18px;
  line-height: 500;
}
.form .input-basic::placeholder {
  color: var(--blue-1);
}
.form .checkbox-basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  flex: unset;
}
.form .input-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid var(--grey-2);
  margin: 6px 0px 6px 0px;
}
.form .input-checkbox-label {
  color: var(--grey-2);
  font-size: 18px;
}
.form .recover-password {
  margin: 0px 0px 32px 0px;
  color: var(--blue-2);
  font-size: 20px;
  font-weight: 500;
}
.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 4px;
  flex-wrap: nowrap;
  flex: unset;
}
.form .form-button {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: nowrap;
  flex: unset;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.form .form-button.primary-button {
  border: 1px solid var(--blue-2);
  background: var(--blue-2);
  color: var(--white);
}
.form .form-button.primary-button:hover {
  background: #365fac;
}
.form .form-button.primary-button:active {
  background: #3e6abb;
}
.form .form-button.secondary-button {
  border: 1px solid var(--blue-2);
  background: var(--white);
  color: var(--blue-2);
}
.form .form-button.secondary-button:hover {
  background: var(--blue-2);
  color: var(--white);
}
.form .form-button:focus {
  box-shadow: 0px 0px 4px 0px var(--blue-1);
}

/*# sourceMappingURL=index.css.map */
